<!DOCTYPE html>
<html lang="en">
<head>
    <title>Internships</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css"  media="screen"/>
</head>


<body>
<!--
  <div class="signedstatus"><span>NotYetSignedIn</span></div> -->

<% include partials/header.ejs %>
<% include partials/user-navigation.ejs %>
<section>
  <% include partials/site-navigation.ejs %>

  <article>
    <h2><%= category[0] %></h2>
    <ul>
			<%
                    for(var j=0; j< itemData.length; j++){
                        if(itemData[j].catalogCategory === category[0]){ %>
			<li><a href="/categories/item/<%= itemData[j].itemCode %>"><%= itemData[j].itemName %></a></li>
			<% }
        }
        %>
      </ul>
    <h2><%= category[1] %></h2>
		<ul>
			<%
                    for(var j=0; j< itemData.length; j++){
                        if(category[1] === itemData[j].catalogCategory){ %>
			<li><a href="/categories/item/<%= itemData[j].itemCode %>"><%= itemData[j].itemName %></a></li>
			<% }
                    }
                     %>
      </ul>
   </article>
</section>

<% include partials/footer.ejs %>

</body>
</html>
