<!DOCTYPE html>
<html lang="en">
<head>
<title>Internships</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/assets/css/style.css"  media="screen"/>
</head>
<body>

<% include partials/header.ejs %>

<% include partials/user-navigation.ejs %>

<section>
  <% include partials/site-navigation.ejs %>

<article>
  <img src="<%= item.imageURL %>" alt="logo" style="width:500px;height:200px;">
    <h2>You are giving feedback to this item </h2>
    <h2><%= item.itemName %></h2>
    <h3><%= item.catalogCategory %></h3>
    <form method="get" action="/myitems/updateRating">
          <b>Rating:</b>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input hidden name="itemCode" value="<%= item.itemCode %>">
          <button type="submit" class="button">Submit Rating</button>
      </form>
        <br><br><br><br><br>
      <form method="get" action="/myitems/updateFlag">
			<label>MadeIt</label>
			<select name="madeIt">
        
					<option value="1" selected>True</option>
					<option value="0">False</option>

			</select>
			<input hidden name="itemCode" value="<%= item.itemCode %>">
			<button class="button" type="submit">MadeIt</button>
		</form>
</article>
</section>
<% include partials/footer.ejs %>
</body>
</html>
