<!DOCTYPE html>
<html lang="en">
<head>
  <title>Internships</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/assets/css/style.css"  media="screen"/>
  <link type="text/css" rel="stylesheet" href="/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>

<% include partials/header.ejs %>

<% include partials/user-navigation.ejs %>
<section>
  <% include partials/site-navigation.ejs %>
  <article>
    <p><a href="/">Home</a> >  <a href="/categories/catalog">Categories</a> > Items</p>
        <div id="itemcontaner">
                <img id="itemimage" src="<%= item.imageURL %>" alt="logo">
                <h2><%= item.itemName %></h2>
                <p><%= item.catalogCategory %></p>
                <p>Rating: <%= item.rating %></p>

        </div>
        <div class="itembuttons">
        <form method="get">
            <input hidden name = "itemCode" value="<%= item.itemCode %>">
            <button class="button" formaction="/myitems/save">Save</button>
            <button class="button" formaction="/myitems">Rate Job</button>
        </form>
        <br>
        <br>
        <br>
        <br>
    </div>
    <p><%= item.description %></p>

  <form action="/categories/catalog">
      <button class="button">BackToCatalog</button>
  </form>
</article>
</section>

<% include partials/footer.ejs %>

</body>
</html>
